@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: var(--background-primary);
  background-image: url(https://4kwallpapers.com/images/wallpapers/macos-monterey-wwdc-21-stock-dark-mode-5k-3840x2160-5585.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.container{
    top: 5%;
    right: 5%;
    left: 5%;
    bottom: 15%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.511);
    padding: 100px;
    border-radius: var(--radius-xl);
}
.heading-wrapper{
  position: relative;
}
.heading{
  text-align: center;
  color: rgb(211, 211, 211);
  font-size: 50px;
}
.button-container{
    justify-content: center;
    display: flex;
    position: relative;
    top: 50%;
}
.button{
    margin: 0px 25px 0px 25px;
    background: transparent;
    padding: 30px 40px 30px 40px;
    font-size: 20px;
    border: 2px solid var(--background-tertiary);
    border-radius: var(--radius-lg);
    text-shadow: none;
    transition: background 0.15s, text-shadow 0.15s;
    backdrop-filter: blur(15px);
}
.button:hover{
    background: var(--background-quaternary);
    text-shadow: 0 0 5px black;
    transition: background 0.15s, text-shadow 0.15s;
}

#main-button{
    background-color: rgb(40, 108, 255);
    text-shadow: 0 0 5px white;
}
#main-button:hover{
    background: var(--background-quaternary);
    text-shadow: 0 0 5px black;
    transition: background 0.15s, text-shadow 0.15s;
}

.header{
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 15px;
  right: 15px;
  left: 15px;
  border: 2px solid var(--background-quaternary);
  border-radius: var(--radius-xl);
  padding: 23px;
  backdrop-filter: blur(20px);
  box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.1);
}
.header-wrapper{
  position: fixed;
  background: none;
  border-radius: var(--radius-xl);
  padding: 56px;
  bottom: 15px;
  right: 15px;
  left: 15px;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.1);
}
.header-iconap{
  text-align: center;
  color: var(--background-primary);
  font-family: 'Nunito', sans-serif;
  font-size: 21px;
  font-weight: 900;
  text-decoration: none;
  padding: 17px;
  background: var(--background-quaternary);
  border-radius: var(--radius-lg);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.15s;
}
.header-icon{
  text-align: center;
  color: var(--background-primary);
  font-family: 'Nunito', sans-serif;
  font-size: 21px;
  font-weight: 900;
  text-decoration: none;
  padding: 17px 21px 17px 21px;
  background: var(--background-quaternary);
  border-radius: var(--radius-lg);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.15s;
}
.icon-wrapper{
  display: inline-block;
  padding: 17px;
  border: 2px solid transparent;
  border-radius: var(--radius-lg);
}
.header-icon:hover{
  box-shadow: 0 7px 15px 7px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.15s;
}
.header-icon:active{
  opacity: 0.7;
  box-shadow: 0 7px 15px 7px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.15s, opacity 0.1s;
}


:root{
  --background-primary: rgba(0, 0, 0, 0.9);
  --background-secondary: rgba(0, 0, 0, 0.5);
  --background-tertiary: rgba(27, 25, 30, 1);
  --background-quaternary: rgb(153, 153, 183);
  --radius-none: 0px;
  --radius-sm: 11px;
  --radius-md: 19px;
  --radius-lg: 23px;
  --radius-xl: 46px;
  --radius-xxl: 100px;
  --radius-round: 50%;
}